<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Simon TS
    </title>
    <script type="text/javascript" src="./build/index.js"></script>
  </head>

  <Body>
    <h1>Simon-ts</h1>
    <div>Circle</div>
  </Body>
</html>